# why we need dict object?

In [1]:
countries = ["China","India","USA"]
pop = [1.38,1.34,0.32]

## what is the india population

In [2]:
# Step 1 of 2: find the index of india

In [4]:
india_index =countries.index("India")

In [5]:
# Step 2 of 2: get the pop value using index

In [6]:
pop[india_index]

1.34

In [7]:
# In order to do above like requirments easily go for dict

In [8]:
a_dict = {"China":1.38,"India":1.34,"USA":0.32}

In [9]:
a_dict.keys()

dict_keys(['China', 'India', 'USA'])

In [10]:
a_dict.values()

dict_values([1.38, 1.34, 0.32])

In [11]:
a_list = [10,20,30]

In [12]:
a_list[0] # list,Tuple,String,Df are can be readable using index

10

In [15]:
a_dict["India"] # dict readable only using Keys

1.34

# Exercise 3: Insert, Update and delete dictionary items

In [16]:
a_dict

{'China': 1.38, 'India': 1.34, 'USA': 0.32}

## insert

In [17]:
a_dict["AUS"] = 0.25

In [18]:
a_dict

{'AUS': 0.25, 'China': 1.38, 'India': 1.34, 'USA': 0.32}

## update

In [19]:
a_dict["AUS"] = 0.28

In [20]:
a_dict

{'AUS': 0.28, 'China': 1.38, 'India': 1.34, 'USA': 0.32}

## Del

In [21]:
del(a_dict["AUS"])

In [22]:
a_dict

{'China': 1.38, 'India': 1.34, 'USA': 0.32}

# Exercise 4: Nested dictionaries

In [23]:
a_dict_states ={"India":{"AP":7,"TS":3.8,"TN":10},"USA":{"CA":3,"TX":5}}

In [24]:
#print 3.8

In [26]:
a_dict_states["India"]["TS"]

3.8

# Exercise 5: Create dataframe using dictionaries

In [28]:
a_dict_emp = {"empno":[101,102,103,104],"ename":["robert","Nancy","Marc","rony"],"sal":[10000,11000,12000,13000]}

In [29]:
a_dict_emp

{'empno': [101, 102, 103, 104],
 'ename': ['robert', 'Nancy', 'Marc', 'rony'],
 'sal': [10000, 11000, 12000, 13000]}

In [30]:
import pandas as pd

In [33]:
df = pd.DataFrame(a_dict_emp)

In [34]:
df

   empno   ename    sal
0    101  robert  10000
1    102   Nancy  11000
2    103    Marc  12000
3    104    rony  13000